@import './base.css';

body{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* .wrapper{
    border-top: 1px solid transparent;
    height: 100%;
} */

/* .wrapper{    
    border: 1px solid black;
} */

.title{
    float: left;
    width: 20%;
    background-color: rgb(101, 165, 250);
    text-align: center;
    color: whitesmoke;
    height: 850px;
}
.content{
    box-sizing: border-box;
    /* float: right; */
    width: 80%;
    /* background-color: rgb(161, 202, 255); */
    overflow: hidden;
    padding-left: 2%;
}

.content::after{
    display: block;
    content: '';
    clear: both;
}
